* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}


body {
  background-color: #f8f8f8;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

dd {
  margin: 0px;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
}

@media (max-width: 450px) {
  .container {
    max-width: 370px;
  }
}

#textoescrevendo {
  font-style: italic;
 color: var(--cor-P10);
 font-family: roboto;
 font-weight: 700;
  
}
