.chamada-bg {
  background: url(../../../source/img/chamada/chamada2.jpg);
  width: 100vw;
  height: 410px;
  background-size: cover;
  object-fit: cover;
}
.chamada-conteudo h2 {
  font: 700 2.25rem/1.2 "Raleway", sans-serif;
  text-align: center;
  padding-top: 100px;
  color: var(--cor-w);
}
.btn-chamada {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}
.btn {
  padding: 0px 20px;
}
@media (max-width: 600px) {
  .chamada-bg {
    width: 100%;
    height: 220px;
  }
  .chamada-conteudo h2 {
    text-align: center;
    padding-top: 50px;
    font-size: 16px;
    color: var(--cor-w);
  }
}
@media (max-width: 600px) {
  .chamada-bg {
    background: url(../../../source/img/chamada/chamada2.jpg);
    width: 100vw;
    height: 220px;
    background-size: cover;
    object-fit: cover;
  }
  
  .btn {
    padding: 0px 5px;
  }
  .btn-chamada {
    margin-top: 50px;
  }
  }
