.empresa-icone {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .empresa-icone img {
  width: 120px;
  margin: 20px 40px;
  }

  .empresa-descricao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
  }
  .empresa-logo img {
width: 380px;
  }

  @media (max-width: 600px  ) {
    .empresa {
      width: 350px;
      margin: 0 auto;
    }
      .empresa-icone {
      display: block;
     }
    .empresa-icone {
      justify-content: center;
      align-self: center;
      margin: 0px;
      padding: 0px;
    }
    .empresa-logo1 {
      width: 350px;
      display: flex;
      justify-content: center;
      margin: 0px;
      padding: 0px;
    }
    .empresa-logo1 img {
      width: 64px;
      margin: 0px;
      padding: 0px;
      margin-bottom: 20px;
    }
    .empresa h2 {
      font-size: 26px;
      text-align: center;
    }
    .empresa-descricao {
      width: 350px;
      display: block;
      margin: 0px;
    }
    .empresa-logo {
      width: 350px;
      display: flex;
      justify-content: center;
      margin: 0px;
    }

    .empresa-logo img {
      width: 280px;
      margin: 0;
     }
    .empresa-descricao p {
     width: 280px;
      font-size: 16px;
      margin: 0px; 
     }
     .empresa-paragrafo {
      width: 280px;
      display: flex;
      justify-content: center;
      margin: 0 auto; 
      margin-bottom: 40px;
     }
  }