.produtos-itens {
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 2%;
}
.produtos img {
  width: 360px;
  height: 253px;
  border-radius: 10px 10px 0px 0px;
}
.produto-servico {
  width: 360px;
  height: 750px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
}
.produto-servico h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 22px;
}
.produto-servico h3 {
  text-align: center;
}
.produto-servico p {
  margin: 0px 35px 0px;
  margin-top: 20px;
  margin-bottom: 40px;
  height: 250px;
}
/* .produto-servico:nth-child(5) p {
  height: 210px;
}  */
.produto-servico a {
  margin: 0 auto;
}
@media (max-width: 600px) {
  .produtos-itens {
    width: 320px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2%;
    margin-bottom: 10px;
  }
  .produtos img {
    width: 300px;
    height: 220px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 20px;
  }
  .produto-servico {
    width: 320px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 4px var(--cor-00);
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 20px;
  }
  .produto-servico p {
    font-size: 14px;
    margin: 10px;
    height: auto;
   
  }
  .produtos {
    margin-bottom: 40px;
  }
  .produtos-itens {
    margin-bottom: 10px;
    gap: 10px;
  }
  .produto-servico h2 {
    margin-top: 10px;
  }
  .produtos img {
    width: 320px;
    height: 220px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0px;
  }
  }
