.footer-bg {
  background-color: var(--cor-01);
  padding: 10px 0px;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}
.footer-logo img {
  width: 200px;
  }
.footer-servicos h3 {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.footer-servicos ul li{
  margin: 10px 0px;
}
.footer-servicos ul li a {
  color: var(--cor-P10);
  padding: 10px;
  
}
.footer-servicos ul li a:hover {
  text-decoration: underline;
}
.footer-contato ul li img {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 0px;
  width: 25px;
  height: 35px;
}
.footer-contato ul li a {
  display: flex;
  align-items: center;
  color: var(--cor-P10);
  font-weight: 600;
  font-size: 14px;
}
.footer-contato ul li a:hover {
  text-decoration: underline;
}
.footer-mapa-site h3 {
  font-size: 16px;
  padding-top: 0px;
}
.footer-mapa-site ul li {
  margin: 10px 0;
}
.footer-mapa-site ul li a {
  color: var(--cor-P10);
}
.footer-mapa-site ul li a:hover {
  text-decoration: underline;
}

.footer-redes-sociais img {
  width: 45px;
  margin: 5px;
}
.rodape {
  color: var(--cor-P10);
   font-weight: 700;
   border-top: none;
   text-align: center;
   
  }
  .rodape p {
    font-size: 18px;
   
 
}
.rodape a:hover {
text-decoration: underline;
}

.subir {
  text-align: center;
  padding: 0px;
  cursor: pointer;
}
.subir img {
  width: 20px;
  transition: 0.1s;
}
.subir:hover {
  transform: translateY(-5px);
}

@media (max-width: 450px) {
  .footer-grid {
    grid-template-columns: 1fr;
    gap: 5px;
  }
  .footer-logo img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 150px;
    /* height: 140px; */
  }
  .footer-servicos h3 {
    text-align: center;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .footer-servicos ul li a {
    display: block;
    padding: 0;
    }
  .footer-servicos ul {
    text-align: center;
    
  }

  .footer-servicos ul li a:hover {
    text-decoration: underline;
  }
  /* .footer-contato ul li img {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    height: 38px;
    width: 40px;
  } */
  /* .footer-contato ul li a {
    display: flex;
    align-items: center;
    color: var(--cor-P10);
    font-weight: 700; */
  /* }
  .footer-contato ul li a:hover {
    text-decoration: underline;
  } */
  .footer-mapa-site h3 {
    display: none;
  }
  .footer-mapa-site ul {
    text-align: center;
    display: none;
  }
  .footer-mapa-site ul li a {
    color: var(--cor-P10);
    display: block;
    padding: 8px;
  }
  .footer-mapa-site ul li a:hover {
    text-decoration: underline;
  }
  .footer-redes-sociais {
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px;
  }
   .rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-P10);
    font-weight: 700;
    padding: 2px;
    border-top: 1px solid var(--cor-P10);
  }
  .rodape p {
     font-size: 12px;
    padding: 2px;
   }
  .footer-redes-sociais img {
    width: 30px;
   
  }
  .footer-contato ul li img {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 0px;
    width: 20px;
    height: 25px;
  }
  .footer-redes-sociais{
    height: 35px;
  }
  
}
