.servico-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.servico-titulo img {
  width: 120px;
}
.servicos h3 {
  padding-left: 90px;
  margin-top: -20px;
}
.servicos p {
  text-align: center;
  margin-bottom: 80px;
  padding-left: 180px;
}

.servicos h4 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 120px;
}

@media (max-width: 600px) {
  .servicos {
    margin: 0 auto;
    width: 350px;
  }
  .servico-titulo {
    display: flex;
    width: 350px;
    height: 80px;
  }
  .servicos h2 {
    width: 360px;
    font-size: 26px;
    display: block;
    text-align: center;
  }
  .servicos h3 {
    padding-left: 170px;
    margin-top: -5px;
    font-size: 26px;
  }
  .servico-titulo img {
    width: 84px;
  }
  .servico-descricao {
    text-align: center;
  }
  .servicos h4 {
    width: 280px;
    font-size: 16px;
    margin-bottom: 40px;
  }
  .servicos p {
    width: 350px;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 40px;
  }
}
