.btn-whatsapp {
  display: flex;
  justify-content: flex-end;
  width: 360px;
}
.btn-whatsapp a {
  position: fixed;
  bottom: 60px;
  right: 20px;
}
.btn-whatsapp a img {
  width: 72px;
}
@media (max-width: 600px) {
  .btn-whatsapp a img {
    width: 48px;
  }
  .btn-whatsapp a {
    position: fixed;
    bottom: 100px;
    right: 15px;
    z-index: 3000;
  }
}
