.btn-whatsapp {
  display: flex;
  justify-content: flex-end;
  width: 360px;
}
.btn-whatsapp a {
  position: fixed;
  bottom: 60px;
  right: 20px;
}
.btn-whatsapp a img {
  width: 72px;
}
@media (max-width: 600px) {
  .btn-whatsapp a img {
    width: 48px;
  }
  .btn-whatsapp a {
    position: fixed;
    bottom: 20px;
    right: 15px;
  }
}

.pulsar {
  z-index: 8000;
  position: relative;
}
.pulsar a::before, .pulsar a::after {
  content:" ";
  display: block;
  position: absolute;
  border: 2px solid #4EC35A;
  border-radius: 50%;
  bottom: -20px;
  right: -20px;
  left: -20px;
  top: -20px;
  animation: animar 1.5s linear infinite ;
  opacity: 0;
  /* z-index: 5000; */
  }
  .pulsar a::after {
    animation-delay: .5s;
  }



  @keyframes animar {
    0% {
transform: scale(0.5);
opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }

  