.botao {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 36px;
  width: 250px;
  height: 70px;
<<<<<<< HEAD
  border-radius: 10px;
  text-align: center;
  background: var(--bt-2, linear-gradient(180deg, #1b3954 0%, #466c86 100%));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 20px 40px;
}
.botao:hover {
  background: var(--bt-2, linear-gradient(180deg, #497397 0%, #161b1f 100%));
}
.botao1 {
  font-size: 24px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 70px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px 40px;
  background-color: var(--cor-D01);
}
.botao1:hover {
  background: #1a5986;
}
@media (max-width: 600px) {
  .botao1 {
    font-size: 12px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 5px;
    background-color: var(--cor-D01);
  }
}
=======
    border-radius: 10px;
  text-align: center;
  background: var(--bt-2, linear-gradient(180deg, #1B3954 0%, #466C86 100%));
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color: #fff;
padding: 20px 40px;
}

.botao:hover {
  background: var(--bt-2, linear-gradient(180deg, #497397 0%, #161b1f 100%));
}
>>>>>>> d43845b4c0d37fa99d4f9b9bccb8b6f77341f4b1
